joblib==1.2.0; python_version >= "3.8"
numpy==1.23.3; python_version >= "3.8"
pandas==1.5.0; python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.2.1; python_version >= "3.8"
scikit-learn==1.1.2; python_version >= "3.8"
scipy==1.9.1; python_version >= "3.8" and python_version < "3.12"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
threadpoolctl==3.1.0; python_version >= "3.8"
